<div>
  <div class="background-image-container mt-ncs mb-5">
    <div class="container py-5">
      <div class="jumbotron jumbotron-fluid">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-3 bold-text">BYSMoH E-Library</h1>
            <p class="lead">
              The BYSMoH E-Library is an advanced platform, enabling seamless
              access to a wide array of resources. It allows organizations and
              individuals to:
            </p>
          </div>
        </div>
        <ul>
          <li>
            Easily upload and manage documents, audio, video, datasets, and
            their corresponding metadata for streamlined accessibility.
          </li>
          <li>
            Provide global visibility to content through robust indexing with
            Google Scholar and OAI-PMH integration.
          </li>
          <li>
            Generate reliable and permanent URLs for resources, with options for
            handle.net and DataCite DOI integrations.
          </li>
        </ul>
      </div>
    </div>
    <picture class="background-image">
      <source
        type="image/webp"
        srcset="
          assets/dspace/images/ebanner.webp      2000w,
          assets/dspace/images/ebanner-half.webp 1200w,
          assets/dspace/images/ebanner-tall.webp  768w
        "
      />
      <source
        type="image/jpg"
        srcset="
          assets/dspace/images/ebanner.jpg      2000w,
          assets/dspace/images/ebanner-half.jpg 1200w,
          assets/dspace/images/ebanner-tall.jpg  768w
        "
      />
      <img alt="" [src]="'assets/dspace/images/banner.jpg'" />
    </picture>
    <small class="credits"
      >Photo by
      <a href="https://www.pexels.com/@inspiredimages"
        >&#64;inspiredimages</a
      ></small
    >
  </div>
  <!-- <div class="container py-5">
    <div class="row align-items-center">
     
      <div class="col-md-6">
      
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-5">BYSMoH E-Library</h1>
            <p class="lead">
              The BYSMoH E-Library is an advanced platform, enabling seamless
              access to a wide array of resources. It allows organizations and
              individuals to access digital resources
            </p>
            <button class="btn btn-primary mt-4">View Collections</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
       
        <img
          alt=""
          [src]="'assets/dspace/images/e-library.svg'"
          class="img-fluid"
        />
      </div>
    </div>
  </div> -->
</div>
